<!DOCTYPE html>
<html lang="en" id="page">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JS Demo</title>

<style>
    button {
        background-color: aquamarine;
    }

    body {
        background-color: bisque;
    }
</style>
    
</head>
<body>
    <p id="js-demo">This is the javascript demo!</p>
    <p id="second-paragraph"></p>
    <label for="text-input">Name:</label>
    <input type="text" id="text-input">
    <p></p>
    <button 
    id="my-btn"
    style="padding: 2em;" 
    onclick="alert('Hello Everyone! what\'s the weather?')"
    >
        Click Me
    </button>
    <button
    id="rst"
    style="padding: 2em;">
    Reset
    </button>

    <p>
    <label for="refernce">Guess the number:</label>
    <select name="refernce" id="number-selected">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
    </select>
    <button id="guess-number"> Guess</button>
    <button id="guess-the-square">Guess the square</button>
    <button id="submit">Enter Password</button>
</p>
    <script type="text/javascript">
        // alert("Page is loaded")
        // this is comment
        /*
        ...this is multi line comment
        */
        document.getElementById("my-btn").onclick = function () {
        //  document.getElementById("js-demo").innerHTML = document.getElementById("text-input").value;
        //  document.getElementById("second-paragraph").innerHTML = "<h1>This is h1 heading</h1>"

        //variable
        let nameEntered = "";
        nameEntered = document.getElementById("text-input").value;
        document.getElementById("second-paragraph").innerHTML = "<h1>" + nameEntered +"</h1>";
    };
    document.getElementById("rst").onclick = function (){
        // document.getElementById("second-paragraph").innerHTML = "<style>button {background-color: bisque;}</style>";
        document.getElementById("js-demo").style.display = "none";
        // document.getElementById("second-paragraph").style.display = "none";
        // document.getElementById("page").style.backgroundColor = '#fff';
        document.getElementsByTagName("body")[0].style.backgroundColor = '#fff'; // because it return an array
    }

    // exercise 1
        

        document.getElementById("guess-number").onclick = function () {
            var number = 8;
            let myNumber = document.getElementById("number-selected").value;
            let randomNumer = Math.random() * 10;
            randomNumer = Math.floor(randomNumer);
            console.log(randomNumer);
            console.log(myNumber);
        if (myNumber == randomNumer){
            alert("Hurray your number matched") 
        }else {
            alert("Error")
        }
    }

    // exercise 2
    // create a function
    function guessMyNumber(number){
        let randomNumer = Math.random() * 10;
                randomNumer = Math.floor(randomNumer);
        if(randomNumer == number){
            return true;
        }else{
            return false;
        }
    }
    document.getElementById("guess-number").onclick = function () {
        let myNumber = document.getElementById("number-selected").value;
        let guessTrue = false;
        let guessNumber = 1;
            while(guessTrue == false){
                // let randomNumer = Math.random() * 10;
                // randomNumer = Math.floor(randomNumer);
                if(guessMyNumber(myNumber)){
                    alert("Hurray!! you guessed it before " + guessNumber + " times");
                    guessTrue = true; 
                }else{
                    guessNumber++;
                }
            }
    }

     //exercise-3
    document.getElementById("guess-the-square").onclick = function () {
    
     let number = prompt("Enter a number: ");

    if(number % Math.sqrt(number) === 0) {
         console.log("sqaure!")
            document.getElementById("js-demo").innerHTML = "<h1>Hurray!!!</h1>"
}
    else{
        console.log("error")
            document.getElementById("js-demo").innerHTML = "<h1>Sorry!!!</h1>"
    };
    }

    //exercise-4
    document.getElementById("submit").onclick = function() {
        let password = prompt("Enter your password: ")
        let demoPassword = "anmol"
        if (password == demoPassword){
            alert("Password is correct!")
        }
        else{
            alert("Password is incorrect")
        };
    }
    

    </script>
</body>
</html>